<div class="container-fluid h-100">
    <div class="row h-100">
        <div class=" col-12 d-flex shadow">
            <div class="col-5 d-flex justify-content-left align-items-center">
                <span>
                    <img src="assets/photos/Primary-Logo-White-BG-crop2.webp" alt="logo-small" class="logo">
                </span>
            </div>
            <div class="col-3 d-flex justify-content-end ">
            </div>
            <div class="col-4 d-flex justify-content-left align-items-center">
                <div class="col-12 d-flex justify-content-end loginID">
                    <div mat-button [matMenuTriggerFor]="menu" class="logoutDiv link">
                        <mat-icon>person</mat-icon>
                        <span class="f-12">{{name}}</span>
                        <mat-icon style="margin-left: 2vh;">expand_more</mat-icon>
                    </div>
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item (click)="logout()">
                            <mat-icon>exit_to_app</mat-icon>
                            Logout
                        </button>
                    </mat-menu>
                </div>
            </div>
        </div>
    </div>
</div>